* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary: rgb(24, 40, 63);
}

body {
    height: 4000px;
}

nav {
    position: fixed;
    z-index: 1000;
    background-color: var(--primary)
}


.navbar-brand {
    width: 80px;
}
.nav-link {
    color: white;
}

.h1 {
    font-weight: 400;
    font-size: 48px;
}

button {
    width: 120px;
    border-radius: 120px;
}
.get-started {
    width: 200px;
    border-style: solid;
    border-radius: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    background-color: var(--primary);
}

.services {
    text-align: center;
    margin-top: 80px;
}
.services-container {
    padding-top: 64px;
}
.service-title {
    padding-bottom: 16px;
}

.service-desc {
    padding: 0px 40px;
    text-align: center;
}

.topics {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.portfolio {
    margin-top: 80px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 20px;
    margin-top: 48px;
}

.project {
    height: 200px;
}

.about {
    text-align: center;
    padding-top: 64px;
}

.about-desc {
    padding: 0px 140px;
}

.fa-magnifying-glass {
    display: flex;
    align-self: center;
    padding: 0px 15px;
    padding-right: 20px;
}

.button-container {
    width: 100%;
}

.about-content {
    text-align: start;
    width:500px;

}

.as-img {
    width: 480px;
    display: flex;
}

.about-service {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-top: 120px;
}

.team-title {
    padding-top: 64px;
}

.team-desc {
    padding-bottom: 32px;
}

.tech-image {
    width: 2px;
}

.tech {
    display: flex;
    align-items: center;
    height: 300px;
    width: 100%;
}

.form-control {
    outline: none;
    box-shadow: none;
    border-bottom-style: solid!important;
    border-bottom-width: 0.1px!important;
    border-bottom-color:white!important;
    border-radius: 0px!important;
}

.form-control:focus {
    box-shadow: none;
}
.form-control::placeholder {
    color: white;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--primary);
}

@media(max-width: 1023px) {
    .navbar-nav {
        display: none;
    }
    .about-service {
        display: grid;
        grid-template-columns: auto;
    }

    .as-img {
        width: 360px;
    }

    .about-content {
        width: 360px;
        margin-bottom: 30px;
    }
    .about-desc {
        padding: 0;
    }
}
